### Type-casting

In [7]:
"""
Replacement: Assigning new values to the same variable
In all languages,
1. New value can be same datatype
Eg: a = 3.5
a = 7.3

Speciality in python -
2. New value can also be a different datatype
Below example:

Metaphorical Example: Put something new in the container
"""

a = 3.5
a = "blah"
type(a)

str

In [11]:
"""
Typecasting: Changing the data type

Metaphorical Example: Initially container had ice. Now it has water.
Same contents, but, different form!
"""

a = 3 # define 'a' as an int

a = str(a) # changed the data type of 'a'
type(a)

str

In [12]:

a = int(a)
type(a)

int

In [16]:
# More examples of typecasting

a = 5
x = str(a) # "5"
y = int(a) # 5
z = float(a) # 5.0
y

5

### Looping

In [ ]:
"""
Q1: Print all numbers from 5 to 100
"""

In [17]:
print('All different types -', x, y, z, type(a))

All different types - 5 5 5.0 <class 'int'>

In [24]:
print(5, 6, 7, 8, 9, 10, 11, 12)

5 6 7 8 9 10 11 12

In [18]:
print(range(5, 100))

range(5, 100)

In [21]:
"""
range(5, 100): In each iteration, it'll throw out one value

i: variable, take the thrown value, for each iteration

First iteration:
i = 5; I will execute all the below code, under 'for', assuming i =5

Second iteration:
i = 6, execute below code

When does the loop stop?
- When range throws out its last value!

"""

for i in range(5, 10):
  print(i)

5
6
7
8
9

In [33]:
"""
input() - Asks the user for an input

range(start, end+1)
range(num of times I want the loop to run)

Q: Count the number of times, 'google.com' is visited

Assumption: User tries 5 URLs
"""

count = 0

for i in range(5):
  # Below code executes for every iteration
  url = input('Enter URL')
  if(url == 'www.google.com'):
    count = count + 1

  # printed on every iteration, no matter what
  print('Current count in iteration number ', i+1, ' is ', count)

print('Number of visits =', count)

Enter URLwww.google.com
Current count in iteration number  1  is  1
Enter URLg
Current count in iteration number  2  is  1
Enter URLg
Current count in iteration number  3  is  1
Enter URLwww.google.com
Current count in iteration number  4  is  2
Enter URLwww.google.com
Current count in iteration number  5  is  3
Number of visits = 3

In [34]:
# Demostrating the effect of indentation under 'if' and 'for' statements

count = 0

for i in range(5):
  # Below code executes for every iteration
  url = input('Enter URL')
  if(url == 'www.google.com'):
    count = count + 1

    # print will execute only if google is visited
    print('Current count in iteration number ', i+1, ' is ', count)

print('Number of visits =', count)

Enter URLwww.google.com
Current count in iteration number  1  is  1
Enter URLg
Enter URLg
Enter URLwww.google.com
Current count in iteration number  4  is  2
Enter URLwww.google.com
Current count in iteration number  5  is  3
Number of visits = 3

In [23]:
c='5'
b=int(c)
b

5